/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl nagłówka */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Styl nawigacji */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Styl sekcji */
section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
}

/* Styl listy pobierania */
.downloads ul {
    list-style-type: none;
}

.downloads ul li {
    margin-bottom: 10px;
}

.downloads ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
}

/* Styl stopki */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
